<div class="page-header">
  <h3>Favorite #<%= @favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @favorite.user.present? %>
          <a href="/users/<%= @favorite.user_id %>">
            <%= @favorite.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Dish</dt>
      <dd>
        <% if @favorite.dish.present? %>
          <a href="/dishes/<%= @favorite.dish_id %>">
            <%= @favorite.dish.name %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @favorite.restaurant.present? %>
          <a href="/restaurants/<%= @favorite.restaurant_id %>">
            <%= @favorite.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Notes</dt>
      <dd><%= @favorite.notes %></dd>

      <dt>Cuisine</dt>
      <dd>
        <% if @favorite.cuisine.present? %>
          <a href="/cuisines/<%= @favorite.cuisine_id %>">
            <%= @favorite.cuisine.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/favorites" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @favorite.user %>
        <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Favorite has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @favorite.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for neighborhood_id -->
      <div class="form-group">
        <label for="neighborhood_id" class="control-label">
          Neighborhood
        </label>

        <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for favorite_id -->
      <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">

      <button class="btn btn-block btn-success">
        Create Restaurant
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
